<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container">
  <h2 style = "text-align: center">Partidas Cadastradas:</h2>

  <table class="w3-table-all">
    <tr>
      <th>Mandante</th>
      <th>Gols Mandante</th>
      <th>Gols Visitante</th>
      <th>Visitante</th>
      <th>Data</th>
      <th></th>
    </tr>
    <tr *ngFor="let cadapartida of partidaList">
      <td>{{cadapartida.idMandante}}</td>
      <td>{{cadapartida.golsMandante}}</td>
      <td>{{cadapartida.golsVisitante}}</td>
      <td>{{cadapartida.idVisitante}}</td>
      <td>{{cadapartida.data}}</td>
      <td><button><img class="bedit" src="./../assets/editar.png"></button><button><img class="bdelete" src="./../assets/lixeira.png"></button></td>
    </tr>
  </table>
  <a [routerLink]="['/partida']" > <img class="botaomais" src="./../assets/addbutton.webp"> </a>
</div>

</body>
</html>