<div class="jogadorgeral">
  <div class="titulo">
    <h1>Jogador</h1>
  </div>

  <form class="nome" [formGroup]="form" (ngSubmit)="save()">
    Qual o nome do Jogador?<br>
    <mat-form-field>
      <mat-label>Nome do Jogador:</mat-label>
      <input matInput placeholder="" formControlName="nome">
    </mat-form-field>
    <br><br><br>



    <h4>Clube:</h4>
    <mat-form-field appearance="fill">
      <mat-label>Lista de Clubes</mat-label>
      <mat-select formControlName="idClube">
        <mat-option *ngFor="let clube of clubes" [value]="clube.id">
          {{clube.nome}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br><br><br>


    Qual o número da camisa dele?<br>
    <mat-form-field>
      <mat-label>Número da Camisa:</mat-label>
      <input matInput placeholder="" formControlName="camisa">
    </mat-form-field>
    <br><br><br>

    Em que posição ele joga?<br>
    <mat-form-field>
      <mat-label>Posição:</mat-label>
      <mat-select formControlName="posicao">
        <mat-option *ngFor="let banana of posicoes" [value]="banana.value">
          {{banana.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br><br><br>


    Pé bom:
    <br><br>

    <div>
      <mat-radio-group aria-label="Select an option" formControlName="peBom">
        <mat-radio-button value="Esquerdo">Pé Esquerdo</mat-radio-button>
        <br><br>
        <mat-radio-button value="Direito">Pé Direito</mat-radio-button>
      </mat-radio-group>
    </div>

    <div style="color:rebeccapurple;" *ngIf="error">
      {{errormsg}}
    </div>
  
    <!-- importante que o botão esteja dentro da tag FORM já que ele é o submit do form  -->
    <button mat-raised-button color="salvar" type="submit">Salvar</button>

    <button class="margembotao" mat-raised-button color="listar"><a
        [routerLink]="['/jogadorlistar']">Listar</a></button>
  </form>
</div>