<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>

<div class="w3-container">
  <h2 style = "text-align: center">Jogadores listados:</h2>

  <table class="w3-table-all">
    <tr>
      <th>Nome</th>
      <th>Clube</th>
      <th>Posição</th>
      <th>Pé Bom</th>
      <th></th>
    </tr>
    <!-- ngFor serve como um for, ele vai pegar todos os dados obtidos com o get e colocar em td's -->
    <tr *ngFor="let cadajogador of jogadorList">
        <!-- *ngFor="let cadaclube of clubeList">       -->
      <td>{{cadajogador.nome}}</td>
      <td>{{cadajogador.idClube}} </td>
      <td>{{cadajogador.posicao}}</td>
      <td>{{cadajogador.peBom}}</td>
      <td><button><img class="bedit" src="./../assets/editar.png" (click)="showEdit(cadajogador)"></button>
        <button><img class="bdelete" src="./../assets/lixeira.png" (click)="delete(cadajogador.id)"></button></td>
    </tr>
  </table>
  <a [routerLink]="['/jogador']"> <img class="botaomais" src="./../assets/addbutton.webp"> </a>
</div>

</body>
</html>