<div class="partidageral">
  <div class="titulo">
    <h1>Partida</h1>
  </div>

  <form class="partidaformulario" [formGroup]="form" (ngSubmit)="save()">
    Mandante:<br>
    <mat-form-field>
      <mat-label>Mandante:</mat-label>
      <mat-select formControlName="idMandante">
        <mat-option *ngFor="let clube of clubes" [value]="clube.id">
          {{clube.nome}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <br><br><br>

    Visitante<br>
    <mat-form-field>
      <mat-label>Visitante:</mat-label>
      <mat-select formControlName="idVisitante">
        <mat-option *ngFor="let clube of clubes" [value]="clube.id">
          {{clube.nome}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br><br><br>

    Gols Mandante:<br>
    <mat-form-field>
      <mat-label>Gols Mandante:</mat-label>
      <input matInput placeholder="" formControlName="golsMandante">
    </mat-form-field>

    <br><br><br>

    Gols Visitante:<br>
    <mat-form-field>
      <mat-label>Gols Visitante:</mat-label>
      <input matInput placeholder="" formControlName="golsVisitante">
    </mat-form-field>

    <br><br><br>

    Data:<br>

    <mat-form-field appearance="fill">
      <mat-label>Escolha a data da partida</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="data">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <br>
    <button mat-raised-button color="salvar" type="submit">Salvar</button>

    <button class="margembotao" mat-raised-button color="listar">
      <a [routerLink]="['/partidalistar']">Listar</a></button>
  </form>
</div>