<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>

  <div class="w3-container">
    <h2 style="text-align: center">Classificação:</h2>

    <table class="w3-table-all">
      <tr>
        <th>Nome do Clube</th>
        <th>Pontos</th>
        <th>Vitórias</th>
        <th>Empates</th>
        <th>Derrota</th>
        <th>Saldo de Gols</th>
      </tr>
      <tr *ngFor="let class of classList">
        <td>{{class.nomeClube}}</td>
        <td>{{class.pontos}}</td>
        <td>{{class.vitoria}}</td>
        <td>{{class.empate}}</td>
        <td>{{class.derrota}}</td>
        <td>{{class.saldoGols}}</td>
        <td><button><img class="bedit" src="./../assets/editar.png"></button><button><img class="bdelete"
              src="./../assets/lixeira.png"></button>
      </tr>
    </table>
    <!-- Porque essa porcaria não funciona e nos outros funciona?
        <a [routerLink]="['/classificacao']"> <img class="botaomais" src="./../assets/addbutton.webp"> </a> -->
  </div>

</body>

</html>
